.star-icon{
    width: 22px;
    height: 36px;
}
.star-box{
    width: 255px;
    height: 100px;
    position: absolute;
    top: 450px;
    right: 420px;   
}
.img-client{
    position: absolute;
    bottom: 160px;
    right: 280px;

}
.top-card{
    position: absolute;
    right:250px ;
    bottom: 100px;
}
@media only screen and (max-width:576px) {
    .top-card{
        position: absolute;
       right:15px;
       bottom: 100px;
    } 
    .star-box{
        position: absolute;
        top: 700px;
        right: 100px;
    }
}